doctype
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/main.css")
	body
		div.wrapper
			div.wrapper__page
				section.navbar.navbar_simple
					div.navbar__container
						div
							a.navbar__logo(href="#")
								div.navbar__logo-icon
								div.navbar__logo-text Моя Квартира
				article
					section.article-caption
						h1.article-caption__text Инструкция для собственника помещения в МКД по голосованию на общем собрании собственников жилья в многоквартирном доме с использованием информационной системы «Моя Квартира»
					section.article-content
						p Эта инструкция объясняет, как скачать мобильное приложение «Моя Квартира» и пользоваться им для голосования на общем собрании собственников жилья в многоквартирном доме с использованием информационной системы.
						ol
							li Зайдите в Google Play и скачайте <a href="https://play.google.com/store/apps/details?id=ru.roskvartal.myapartment">мобильное приложение «Моя Квартира»</a> .
							li Приложение «Моя Квартира» установится автоматически.
							li Добавьте в приложение адрес своего дома: наберите адрес вручную или дайте согласие на определение адреса по вашему местоположению.
							li Добавьте в приложение номер своей квартиры (помещения).
							li Войдите в раздел «Голосования», чтобы увидеть список голосований на ОСС.
								img.article-content__illustration(src="img/01.png", alt="")
							li Выберите нужное голосование и подтвердите вашу личность, написав номер телефона или адрес электронной почты, которые вы указали в заявлении.
								img.article-content__illustration(src="img/02.png", alt="")
							li Введите код, который вы получили по смс или email.
								img.article-content__illustration(src="img/05.png", alt="")
							li Ознакомьтесь с вопросами, включёнными в повестку дня.
								img.article-content__illustration(src="img/06.png", alt="")
							li Изучите прикреплённые к отдельным вопросам или ко всему собранию документы.
								img.article-content__illustration(src="img/07.png", alt="")
							li Проголосуйте по всем вопросам сразу или пропустите какой-либо вопрос, чтобы вернуться к нему позже. Промежуточные результаты голосования сохраняются.
								img.article-content__illustration(src="img/09.png", alt="")
							li После принятия решения по всем вопросам вы можете посмотреть промежуточные результаты и отправить результаты голосования администратору ОСС. Для этого нажмите кнопку «Подтвердить». Приложение покажет, что ваш голос учтён.
								img.article-content__illustration(src="img/14.png", alt="")
						p После того, как собрание закончится, вы сможете посмотреть результаты голосования.
		
		script(src="js/bundle.js")

